/* src/index.css */
/* ==================================================== */
* { margin: 0; padding: 0; } /* css reset */
:root { /* set to variables website colors as per styleGuide */
  --primaryDark: #495E57;
  --secondaryDark: #EE9972;
  --highlightDark: #333333;
  --primaryLight: #F4CE14;
  --secondaryLight: #FBDABB;
  --highlightLight: #EDEFEE; }
body { margin: 0;
  font-family: 'Karla';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
code { font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace; }
header { margin: 10px; /* add a surrounding margin so header content will stay away from body edges */
  display: flex; /* bring logo and nav bar to main axis and center them along main & cross axis */
  justify-content: center;
  align-items: center; }
header nav ul { padding-left: 40px; /* ul by default has margin: 16px 0; & padding-left: 40px; these are removed by the css reset
  -Add the padding back to make some space between logo and ul */
  list-style: none;  /* removes dot next to all li. However, display: inline-block; in the li seems to do that already */ }
header nav ul li { display: inline-block; /* li by default are stacked on top of each other. This brings them side by side */
  padding: 0 10px; /* add space between each li */ }
.link:link { color: inherit; text-decoration: none; } /* get rid of links' default color and underline */
.link:visited { color: inherit; } /* get rid of links' default color when visited */
.link:hover { color: var(--highlightDark); } /* color link when hovered */
.link:active { color: var(--primaryDark); } /* color link clicked down */
