body {
  margin: 0;
  font-family: 'Karla';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  display: flex;
  align-items: center;
  margin: 20px 0px 20px 0px;
}

ul {
  border: 1px solid black;
}

nav ul li {
  display: inline;
  padding: 10px;
  border: 1px solid black;
}